<main class="container">
    <div class="listing" *ngIf="listing">
        <h1 class="name"> {{listing.name}}</h1>
        <ngx-slick-carousel class="carousel"  #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let image of listing.imageUrls">
                <img alt="img" width="100%" height="300px" [src]="image">
            </div>
        </ngx-slick-carousel>
        <div class="favorite-container">
            <mat-icon class="favorite-outline-icon" (click)="addOrDeleteFavorite()">
                {{ isFavorite ? 'favorite' : 'favorite_border' }}
            </mat-icon>
            <p class="listing-id">Référence du bien : {{listing.id}}</p>
        </div>
        <div class="price-city">
            <h3 class="price">100.000€</h3>
            <h3 class="city">{{listing.city}}</h3>
        </div>
    </div>
    <div class="divs-container">
        <div class="space">
            <mat-icon>home</mat-icon>
            <span>{{listing.space}} m²</span>
        </div>
        <div class="spec2">
            <mat-icon>bedroom_child</mat-icon>
            <span>{{listing.rooms}}</span>
        </div>

    </div>
    <div class="contact">
        <p>Interessé par ce bien ? N'hesitez pas à nous contacter</p>
        <button mat-button (click)="scrollToContactForm()">Formulaire</button>
    </div>
    <div *ngIf="listing" class="description-container">
        <h1 id="description-title" class="title">Description</h1>
        <p class="description">{{listing.description}}</p>
    </div>
    <div *ngIf="listing" class="address-container">
        <h1 class="title">Adresse</h1>
        <p class="address">{{listing.address}}</p>
        <div *ngIf="listing">
            <div #map style="width:100%;height:400px"></div>
        </div>
    </div>
    <div class="form-container">
        <p class="form-title">Voulez-vous visiter ce bien ou avoir plus d'informations ? N'hésitez pas à nous contacter
        </p>
        <app-contact-form id="contact_form"></app-contact-form>
    </div>
</main>
<app-footer class="footer"></app-footer>