<div class="carousel-container">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let listing of listings">
            <a class="item" routerLink="/detail/{{listing.id}}">
                <img alt="img" width="auto" height="400px" [src]="listing.imageUrls[0]">
                <p>{{listing.name}}</p>
                <p>{{listing.city}}</p>
            </a>
        </div>
        <button type="button" class="slick-next">Next</button>
    </ngx-slick-carousel>
</div>