.carousel-container {
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.carousel {
    position: relative;
    width: 100%;
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    color: black !important;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s, color 0.3s;
}

.slick-prev:hover,
.slick-next:hover {
    background-color: var(--dark-color);
}

.slick-prev {
    left: 10px;
}

.slick-next {
    right: 10px;
}

.carousel img {
    width: 100%;
    height: 200px;
    display: block;
    border-radius: 5px;
    margin-bottom: 10px;
}

.carousel p {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: var(--dark-color);
    margin-bottom: 5px;
}

.carousel p:last-child {
    color: var(--main-color);
}

.carousel div {
    margin-right: 20px;
}


.carousel div:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
}

::ng-deep .slick-next:before,
::ng-deep .slick-prev:before {
    color : var(--main-color) !important;
}

@media screen and (min-width: 1024px) {
    .image {
        height: 250px !important;
    }
}