<div class="carousel-container">
    <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let listing of listings">
            <a target="_blank" class="item" routerLink="/detail/{{listing.id}}">
                <img class="image" alt="img" [src]="listing.imageUrls[0]">
                <p>{{listing.name}} {{ listing.state.toLowerCase() }}</p>
                <p>À {{listing.city}}</p>
                <p>{{ listing.price | number:'1.0-0' }}€</p>
            </a>
        </div>
        <button type="button" class="slick-next">Next</button>
    </ngx-slick-carousel>
</div>