<div id="form-container">
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Prénom">
    </mat-form-field>
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Email</mat-label>
        <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">
        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
            Entrez une addresse mail valide s'il vous plaît
        </mat-error>
        <mat-error *ngIf="emailFormControl.hasError('required')">
            L'email est <strong>requis</strong>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Téléphone</mat-label>
        <span class="phone-prefix" matPrefix>+32 &nbsp;</span>
        <input matInput type="tel" placeholder="477-777-777">
    </mat-form-field>
    <mat-form-field class="form-item">
        <mat-label>Votre message</mat-label>
        <textarea matInput></textarea>
    </mat-form-field>
    <a href="mailto:contact@micasa.be">
        <button mat-button>Envoyer</button>
    </a>
</div>