<div class="dashboard__page" id="add-listing">
    <h1>Add listing</h1>
    <form>
      <label for="Listing-name">listing Name:</label>
      <input type="text" id="listing-name" name="listing-name">
  
      <label for="listing-description">listing Description:</label>
      <textarea id="listing-description" name="listing-description"></textarea>
  
      <label for="listing-price">listing Price:</label>
      <input type="number" id="listing-price" name="listing-price">
  
      <label for="listing-image">listing Image:</label>
      <input type="file" id="listing-image" name="listing-image">
  
      <button type="submit">Save</button>
      <button type="button">Cancel</button>
    </form>
  </div>