.container {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}

#menu-icon {
    padding-left: 10px;
}

.logo {
    position: absolute;
    left: 37%;
    display: flex;
    height: 45px;
    width: auto;
    justify-content: center;
}

#menu-button {
    background-color: unset;
    border: unset;
}

::ng-deep .menu-item button {
    height: 20px;
}

@media screen and (min-width:800px) {
    .logo {
        height: 75px;
        left: 45%;
    }

    #menu-button {
        transform: scale(1.5);
        margin-left: 25px;
    }
}