.container {
    display: flex;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    box-shadow: 0 0px 14px -2px rgb(171, 171, 171)
}

#menu-icon {
    padding-left: 10px;
}

.logo {
    position: absolute;
    left: 40%;
    height: 63px;
    width: auto;
}

.mat-icon {
    scale: 1.7;
    color: var(--dark-color);
}

.menu-button {
    background-color: unset;
    border: unset;
}

.desktop-menu {
    display: none;
}

.menu-container {
    display: flex;
    flex-direction: column;
}

::ng-deep .menu-item button {
    height: 20px;
}

@media screen and (min-width:1024px) {
    .container {
        height: 100px;
        width: 100%;
        box-shadow: 0 0px 14px -2px rgb(171, 171, 171)
    }

    .logo {
        height: 75px;
        left: 0;
        padding-left: 30px;
    }

    .desktop-menu {
        margin-right: 30px;
        display: flex;
        position: absolute;
        right: 0;
    }

    .menu-button {
        display: none;
    }

    .mat-mdc-button:not(:disabled){
        color: var(--main-color);
        font-size: 19px;
        margin-left: 20px;
        padding-top: 8px;
        padding-bottom: 8px;
        font-family: calibri_bold;
        border-radius: 20px;
    }

    .mat-mdc-button:hover{
        background-color: var(--main-color);
        color: var(--background-color);
    }
}