<div class="container">

    <button id="menu-button" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="menu-item">
        <ng-template matMenuContent>
            <button mat-menu-item (click)="displayAccueil()">Accueil</button>
            <button mat-menu-item (click)="displayListings()">Listings</button>
            <button mat-menu-item (click)="displayContact()">Contactez-nous</button>
            <button mat-menu-item (click)="displayApropos()">À propos</button>
        </ng-template>
    </mat-menu>

    <img src="../assets/images/logo.png" class="logo">
</div>