<div class="container">

    <button class="menu-button" mat-button [matMenuTriggerFor]="menu">
        <mat-icon>menu</mat-icon>
    </button>

    <mat-menu #menu="matMenu" class="menu-items">
        <ng-template matMenuContent>
            <button class="button" mat-menu-item (click)="displayAccueil()">Accueil</button>
            <button mat-menu-item (click)="displayListings()">Listings</button>
            <button mat-menu-item (click)="displayContact()">Contactez-nous</button>
            <button mat-menu-item (click)="displayApropos()">À propos</button>
            <button mat-menu-item (click)="displayAdminDashboard()">Admin</button>
        </ng-template>
    </mat-menu>

    <div class="desktop-menu">
        <button mat-button (click)="displayAccueil()">Accueil</button>
        <button mat-button (click)="displayListings()">Listings</button>
        <button mat-button (click)="displayContact()">Contactez-nous</button>
        <button mat-button (click)="displayApropos()">À propos</button>
        <button mat-button (click)="displayAdminDashboard()">Admin</button>
    </div>

    <a class="logo" href="/"><img src="../assets/images/logo.png" class="logo"></a>
</div>