<div class="dashboard_page">
  <h1>Modifier un bien</h1>
  <select class="ids_list" (change)="onIdSelect($event)">
    <option>Séléctionner un ID</option>
    <option *ngFor="let listing of listings" [value]="listing.id">{{ listing.id }}</option>
  </select>

  <div class="dashboard_page">
    <mat-form-field appearance="fill">
      <mat-label for="listing-name">Name</mat-label>
      <input matInput id="listing-name" [ngModel]="selectedListing.name" (ngModelChange)="selectedListing.name = $event" name="listing-name">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-price">Price</mat-label>
      <input matInput type="number" id="listing-price" [ngModel]="selectedListing.price" (ngModelChange)="selectedListing.price = $event" name="listing-price">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-state">State</mat-label>
      <mat-select [(ngModel)]="selectedListing.state" name="listing-state">
        <mat-option value="À vendre">À vendre</mat-option>
        <mat-option value="À louer">À louer</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-city">City</mat-label>
      <input matInput id="listing-city" [ngModel]="selectedListing.city" (ngModelChange)="selectedListing.city = $event" name="listing-city">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-description">Description</mat-label>
      <textarea matInput id="listing-description" [ngModel]="selectedListing.description" (ngModelChange)="selectedListing.description = $event" name="listing-description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-address">Address</mat-label>
      <input matInput id="listing-address" [ngModel]="selectedListing.address" (ngModelChange)="selectedListing.address = $event" name="listing-address">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-space">Espace</mat-label>
      <input matInput id="listing-space" [(ngModel)]="selectedListing.space">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label for="listing-rooms">Chambre(s)</mat-label>
      <input matInput id="listing-rooms" [(ngModel)]="selectedListing.rooms">
    </mat-form-field>
    <form appearance="fill">
      <label for="listing-image">Images</label>
      <input type="file" id="listing-image" name="listing-image">
    </form>
    <button class="submit-button" mat-button (click)="editListing()">Sauvegarder</button>
  </div>
</div>
