<div class="dashboard_page" id="edit-listing">
    <h1>Edit listing</h1>
    <form>
      <label for="listing-id">Listing Id:</label>
      <input type="number" id="listing-id" name="listing-id" value="1">

      <label for="listing-name">Listing Name:</label>
      <input type="text" id="listing-name" name="listing-name" value="listing Name">
  
      <label for="listing-description">Listing Description:</label>
      <textarea id="listing-description" name="listing-description">Listing Description</textarea>
  
      <label for="listing-price">Listing Price:</label>
      <input type="number" id="listing-price" name="listing-price" value="100">
  
      <label for="listing-image">Listing Image:</label>
      <input type="file" id="listing-image" name="listing-image">
  
      <button type="submit">Save</button>
      <button type="button">Cancel</button>
    </form>
  </div>
