<h2>Contactez nous</h2>
<div id="form-container">
    <mat-form-field class="form-item" appearance="fill"> 
        <mat-label>Prénom</mat-label>
        <input matInput placeholder="Prénom">
    </mat-form-field>
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Nom</mat-label>
        <input matInput placeholder="Nom">
    </mat-form-field>
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field class="form-item" appearance="fill">
        <mat-label>Téléphone</mat-label>
        <input matInput placeholder="Téléphone">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Votre message</mat-label>
        <textarea></textarea>
    </mat-form-field>
</div>
<button mat-button (click)="submitMessage()">Submit</button>
<app-footer></app-footer>