<div class="analytics">
  <h1>Analytics Dashboard</h1>

  <div class="analytics_charts">
    <div class="analytics_chart">
      <h2>Users Analytics</h2>
      <canvas class="chart" baseChart style="display: block;" [type]="'pie'" [datasets]="pieChartDatasets"
        [labels]="pieChartLabels" [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
      </canvas>

    </div>

    <div class="analytics_chart">
      <h2>Listings Analytics</h2>
      <canvas class="chart" baseChart width="500" height="400" [type]="'line'" [data]="lineChartData"
        [options]="lineChartOptions" [legend]="lineChartLegend">
      </canvas>
    </div>
  </div>
</div>