.dashboard {
    display: flex;
    flex-direction: row;
    height: 100%;
  }
  
  .dashboard_navigation {
    display: flex;
    flex-direction: column;
    background-color:var(--main-color);
    padding: 24px;
    width: 150px;
    height: 100vh;
    box-shadow: 2px 3px 9px 2px rgb(171, 171, 171);
  }
  
  .dashboard_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .dashboard_navigation li {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .dashboard_navigation a {
    color: var(--background-color);
    font-family: 'calibri_light';
    text-decoration: none;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .dashboard_navigation a:hover {
    color: white;
  }
  
  .dashboard_content {
    flex-grow: 1;
    padding: 24px;
    height: 100%;
  }
  
  .dashboard__page {
    margin-bottom: 24px;
  }
  
  .dashboard__page h1 {
    margin-top: 0;
  }
  
  .dashboard__page form label {
    display: block;
    margin-bottom: 6px;
  }
  
  @media screen and (max-width: 768px) {
    .dashboard {
      flex-direction: column;
    }
    
    .dashboard__navigation {
      width: 100%;
      padding: 12px;
      overflow: auto;
    }
  }
  