<div class="container">
    <div class="card">
      <h2 class="card-title">Welcome back!</h2>
        <ng-container *ngIf="authenticationService.isAuthenticated() | async; else loginContent">
          <!-- Display content for authenticated users -->
          <h1>Welcome, authenticated user!</h1>
          <button mat-button class="btn btn-primary" (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #loginContent>
          <!-- Display content for unauthenticated users -->
          <h1>Please log in to continue.</h1>
          <button mat-button class="btn btn-primary" (click)="login()">Login</button>
        </ng-template>

        <div class="divider">or</div>
        <a href="/sign-up">Create a New Account</a>
    </div>
  </div>
