@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --orange-color : #f2b9a2;
    --blue-color : #0F084B;
    --green-color : #59C9A5;
    --yellow-color : #F3C969;
    --pirple-color : #D5C9DF;


}

body {
    margin: unset;
}