@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
    --main-color : #A5668B;
    --background-color : #F6E7DF;
}

@font-face {
    font-family: calibri_regular;
    src: url("assets/fonts/Calibri_Regular.ttf");
}
@font-face {
    font-family: calibri_bold;
    src: url("assets/fonts/calibri_bold.ttf");
}
@font-face {
    font-family: calibri_light;
    src: url("assets/fonts/calibri_light.ttf");
}

body {
    margin: unset;
    background-color: var(--background-color);
}

