<p *ngIf="favorites.length == 0"> No favorites</p>
<main class="container">
    <mat-grid-list class="grid" [cols]="cols" rowHeight="3:2">
        <mat-grid-tile *ngFor="let listing of listings">
            <div class="item-container">
                <a class="item" routerLink="/detail/{{listing.id}}">
                    <img class="image" src="{{listing.image}}">
                    <div class="infos">
                        <div class="title-background">
                            <span class="title"> {{listing.name}}</span>
                        </div>
                        <div class="state-city">
                            <span class="state">À vendre</span>
                            <span class="city">{{listing.city}}</span>
                        </div>
                        <div class="price-city">
                            <span class="price">{{listing.price}} €</span>
                        </div>
                    </div>
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</main>