<main class="container">
    <div class="search-container">
        <div class="form-field">
            <mat-label for="searchInput">Search :</mat-label>
            <input matInput type="text" [(ngModel)]="nameSearchTerm" (input)="onSearchByName()" id="searchInput">
        </div>
        <div class="form-field">
            <mat-label for="cityDropdown">Ville :</mat-label>
            <mat-select id="cityDropdown" [(ngModel)]="citySearchTerm" (selectionChange)="onSearchByCity()">
                <mat-option value="">Toute la belgique</mat-option>
                <mat-option *ngFor="let city of belgiumCities" [value]="city">{{ city }}</mat-option>
            </mat-select>
        </div>
    </div>

    <mat-grid-list class="grid" [cols]="cols" rowHeight="3:2">
        <mat-grid-tile *ngFor="let listing of listings">
            <div class="item-container">
                <a class="item" routerLink="/detail/{{listing.id}}">
                    <img class="image" src="{{listing.imageUrls[0]}}">
                    <div class="infos">
                        <div class="title-background">
                            <span class="title"> {{listing.name}}</span>
                        </div>
                        <div class="state-city">
                            <span class="state">À vendre</span>
                            <span class="city">{{listing.city}}</span>
                        </div>
                        <div class="price-city">
                            <span class="price">{{listing.price}} €</span>
                        </div>
                    </div>
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</main>
<app-footer></app-footer>