mat-grid-list {
  padding: 0px;
}

.item {
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.image {
  width: 100%;
  height: auto;
}
.infos {
  display: flex;
  flex-direction: column;
  border: 1px;
  border-style: solid;
  border-color: var(--main-color);
}

@media screen and (min-width: 800px) {

}