<mat-grid-list class="grid" [cols]="1" rowHeight="3:2">
    <mat-grid-tile *ngFor="let listing of listings">
        <div>
            <a class="item" routerLink="/detail/{{listing.id}}">
                <img class="image" src="{{listing.image}}">
                <span class="infos">
                    <span class="title"> {{listing.title}}</span>
                    <div class="price-city">
                        <span class="price">{{listing.price}}</span>
                        <span class="city">{{listing.city}}</span>
                    </div>
                </span>
            </a>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<app-footer></app-footer>