<main class="container">
    <div class="search-container">
        <div class="form-field">
            <mat-label for="cityDropdown">Ville :</mat-label>
            <mat-select id="cityDropdown" [(ngModel)]="citySearchTerm">
                <mat-option value="">Toute la belgique</mat-option>
                <mat-option *ngFor="let city of belgiumCities" [value]="city">{{ city }}</mat-option>
            </mat-select>
        </div>
        <div class="form-field">
            <mat-label for="searchInput">Chercher :</mat-label>
            <input matInput type="text" [(ngModel)]="nameSearchTerm">
        </div>
        <div class="buttons">
            <button mat-raised-button [color]="isForRentSelected ? 'accent' : 'primary'"
                (click)="toggleStateFilter('À louer')">
                À louer
            </button>
            <button mat-raised-button [color]="isForSaleSelected ? 'accent' : 'primary'"
                (click)="toggleStateFilter('À vendre')">
                À vendre
            </button>
            <button class="submit-button" mat-raised-button color="primary" (click)="onSearchCombined()">Chercher</button>
        </div>
    </div>

    <mat-grid-list id="gridList" class="grid" [cols]="cols" rowHeight="3:2">
        <mat-grid-tile *ngFor="let listing of paginatedListings">
            <div class="item-container">
                <a class="item" routerLink="/detail/{{listing.id}}">
                    <img class="image" src="{{listing.imageUrls[0]}}">
                    <div class="infos">
                        <div class="title-background">
                            <span class="title"> {{listing.name}}</span>
                        </div>
                        <div class="state-city">
                            <span class="state">{{listing.state}}</span>
                            <span class="city">{{listing.city}}</span>
                        </div>
                        <div class="price-city">
                            <span class="price">{{listing.price}} €</span>
                        </div>
                    </div>
                </a>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
    <div class="pagination">
        <button mat-button [disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">Previous</button>
        <button mat-button *ngFor="let page of totalPagesArray" [disabled]="currentPage === page" (click)="goToPage(page)">{{ page }}</button>
        <button mat-button [disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">Next</button>
    </div>
</main>
<app-footer></app-footer>