#image-container{
    position: relative;
}

#cover {
    width: 100%;
    height: 400px;
    object-fit: cover;
    opacity: 0.8;
}

#title1 {
    margin: unset;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
}

span {
    display: flex;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.cover-button {
    background-color: var(--main-color);
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
}

.cover-button:hover {
    background-color: var(--dark-color);
}